h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100px;
	text-align: center;
	position: relative;
	top: 20px;
	color: lightblue;
}

.square{
	display: inline-block;
	background-color: lightblue;
	border: 1px solid black;
}

#format{
	position: relative;
	left: 50px;
	font-size: 200px;
}