*{
	font-family: 'Ek Mukta', sans-serif;
}

#dropdownMenu1{
	background-color: lightblue;
	color: white;
}

h1{
	font-size: 100px;
	text-align: center;
	position: relative;
	top: 20px;
	color: lightblue;
}

h1:hover{
	color: black;
}

.menu{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

p{
	display: inline-block;
}	

input[type=text]{
	width: 50px;
}

.square{
	display: inline-block;
	background-color: lightblue;
	border: 1px solid black;
}
