*{
	font-family: 'Roboto Condensed', sans-serif;
}

h1{
	font-size: 100px;
	text-align: center;
	position: relative;
	top: 20px;
	color: lightblue;
}

.menu{
	border: 1px solid black;
	margin-bottom: 20px;
	text-align: center;
}

p{
	display: inline-block;
}

.square{
	display: inline-block;
	background-color: lightblue;
	border: 1px solid black;
}
