#globe{
	height: 200px;
	width: 202px;
	margin-left: 100px;
	margin-top: 100px;
}

.stripe{
	display: inline-block;
	border: none;
	height: 100px;
	width:	100px;
	margin: 0 auto;
}

.dot{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 10px;
	width: 10px;
	border-radius: 100%;
}

#s1{
	background-color: yellow;
	border-radius: 100% 0% 0% 0%;
}

#s2{
	background-color: blue;
	border-radius: 0% 100% 0% 0%;
}

#s3{
	background-color: red;
	border-radius: 0% 0% 0% 100%;
}

#s4{
	background-color: green;
	border-radius: 0% 0% 100% 0%;
}

#trans-shape{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	margin-left: 200px;
	margin-top: 200px;
}

@-webkit-keyframes color {
	to {background-color: blue;}
}
@-webkit-keyframes size {
	from { 
		height: 100px;
		width: 100px;
		background-color: blue;
	}
	to {
		height: 400px;
		width: 400px;
		background-color: blue;
	}
}
@-webkit-keyframes rotateTrey {
	from {
		transform: translateX(0) rotate(0);
	}
	to { 
		transform: translateX(800px) rotate(1turn);
	}
}

@-webkit-keyframes rotate {
	from {
		transform: translateX(0) rotate(0);
		height: 400px;
		width: 400px;
		background-color: blue;
	}
	to { 
		transform: translateX(450px) rotate(2turn);
		height: 400px;
		width: 400px;
		background-color: blue;
	}
}

@-webkit-keyframes rotateDu {
	from {
		transform: translateX(0) rotate(0);
		height: 400px;
		width: 400px;
		background-color: blue;
	}
	to { 
		transform: translateX(450px) rotate(2turn);
		height: 400px;
		width: 400px;
		background-color: blue;
	}
}


.colorShape{
	animation: color;
	animation-duration: 1s;
	/*-webkit-animation-fill-mode: forwards;*/
	animation-fill-mode: forwards;

}

.resizeShape{
/*	background-color: blue;*/
	animation: size;
	animation-duration: 2.25s;
	animation-timing-function: ease-in-out;
/*	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;*/
	animation-fill-mode: forwards;
}

.rotateShape{
	animation: rotate;
	animation-duration: 1.25s;
	animation-timing-function: ease-in;
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}

.justRotate{
	animation: rotateDu;
	animation-duration: 1.25s;
	animation-timing-function: ease-in;
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}
.rotateGlobe{
	animation: rotateTrey;
	animation-duration: 1.25s;
	animation-timing-function: ease-in;
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}
