#trans-shape{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	margin-left: 200px;
	margin-top: 200px;
}

@-webkit-keyframes color {
	from {background-color: white;}
	to {background-color: blue;}
}
@-webkit-keyframes size {
	from {
		height: 100px;
		width: 100px;
	}
	to {
		height: 400px;
		width: 400px;
	}
}

@-webkit-keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(180deg); }
}



.colorShape{
	animation: color;
	animation-duration: 2.25s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.resizeShape{
	animation: size;
	animation-duration: 2.25s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.rotateShape{
	animation: rotate;
	animation-duration: 2.25s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

